      <html>
      <head><link rel="stylesheet" href="etc/blog.css"></head>
      <body style="background-color: #ffffff">

<div class="post">
  <table width=100% cellpadding=7>
    <tr>
      <td width=16% valign=top align=right style="margin-top: -1px;">
        <font size=-1>November  6<br><div style='float: right'>2020</div></font>
      </td>
      <td> 
        <span class="recent-title-text"><a href="new-post.html" style="margin-top: -5px">NEw post...</a></span>
        <b>
foo</b>&nbsp;&nbsp;
        <a style="text-decoration: none" href="new-post.html"><small>Keep&nbsp;reading</small></a> 
      </td>
    </tr>
  </table>
</div>

<font size=-4><br></font>


<div class="post">
  <table width=100% cellpadding=7>
    <tr>
      <td width=16% valign=top align=right style="margin-top: -1px;">
        <font size=-1>September 10<br><div style='float: right'>2020</div></font>
      </td>
      <td> 
        <span class="recent-title-text"><a href="whats-at-stubbs.html" style="margin-top: -5px">What's at Stubbs...</a></span>
        <b>Stubbs has been around for longer than civilization.</b>&nbsp;&nbsp;
        <a style="text-decoration: none" href="whats-at-stubbs.html"><small>Keep&nbsp;reading</small></a> 
      </td>
    </tr>
  </table>
</div>

<font size=-4><br></font>

</body></html>