<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0005-post-4-lanril-mortelmor-san-tellanle-temdo.html')">Post 4 lanril mortelmor san tellanle temdo</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0002-post-1-ranre-tedelan-mor-mas-de.html')">Post 1 ranre tedelan mor mas de</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0003-post-2-rete-tel-dor-temsanre-tel.html')">Post 2 rete tel dor temsanre tel</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0001-post-0-mortitor-nimtima-landorodo-veltrema-rilmamas.html')">Post 0 mortitor nimtima landorodo veltrema rilmamas</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0006-post-5-reranran-lemaste-odo-temaccro-nim.html')">Post 5 reranran lemaste odo temaccro nim</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div style="position: absolute; bottom: 0; width: 100%;"><div style="align-self: flex-end;">Pages: <a href="javascript:void(0)" style="text-decoration: none;"
                  onclick="load_main('page1.html')">1&nbsp;&nbsp;</a><a href="javascript:void(0)" style="text-decoration: none;"
                  onclick="load_main('page2.html')">2&nbsp;&nbsp;</a><a href="javascript:void(0)" style="text-decoration: none;"
                  onclick="load_main('page3.html')">3&nbsp;&nbsp;</a><b>[4]</b>&nbsp;&nbsp;<br><br></div></div>
