<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0019-post-18-tos-croti-riltreko-telodore-silmac.html')">Post 18 tos croti riltreko telodore silmac</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0026-post-25-tel-velodoril-trerildor-sanodo-teldorte.html')">Post 25 tel velodoril trerildor sanodo teldorte</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0021-post-20-mortor-mor-temdokon-nimvelle-do.html')">Post 20 mortor mor temdokon nimvelle do</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0030-post-29-nimdote-tor-tos-vel-mortos.html')">Post 29 nimdote tor tos vel mortos</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0024-post-23-tortem-detos-konmor-velsa-de.html')">Post 23 tortem detos konmor velsa de</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0023-post-22-tosodo-do-trelan-le-odo.html')">Post 22 tosodo do trelan le odo</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0022-post-21-deltes-teledor-tere-nimtre-tetelran.html')">Post 21 deltes teledor tere nimtre tetelran</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0012-post-11-odo-kotile-tretemde-odomor-tremas.html')">Post 11 odo kotile tretemde odomor tremas</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0013-post-12-deretos-samacvel-telte-odo-te.html')">Post 12 deretos samacvel telte odo te</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0011-post-10-ril-torma-odolan-temteltos-lan.html')">Post 10 ril torma odolan temteltos lan</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div style="position: absolute; bottom: 0; width: 100%;"><div style="align-self: flex-end;">Pages: <a href="javascript:void(0)" style="text-decoration: none;"
                  onclick="load_main('page1.html')">1&nbsp;&nbsp;</a><b>[2]</b>&nbsp;&nbsp;<a href="javascript:void(0)" style="text-decoration: none;"
                  onclick="load_main('page3.html')">3&nbsp;&nbsp;</a><a href="javascript:void(0)" style="text-decoration: none;"
                  onclick="load_main('page4.html')">4&nbsp;&nbsp;</a><br><br></div></div>
