<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0015-post-14-crokodor-te-tretire-tor-velko.html')">Post 14 crokodor te tretire tor velko</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0016-post-15-lantitel-kontreodo-torodo-ma-tostemtel.html')">Post 15 lantitel kontreodo torodo ma tostemtel</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0014-post-13-ti-del-nimlere-mor-tos.html')">Post 13 ti del nimlere mor tos</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0017-post-16-ran-kotor-telvel-delsamor-rilti.html')">Post 16 ran kotor telvel delsamor rilti</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0010-post-9-kotecro-konmac-korantel-mactemtor-re.html')">Post 9 kotecro konmac korantel mactemtor re</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0009-post-8-santelkon-morte-vel-tor-san.html')">Post 8 santelkon morte vel tor san</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0018-post-17-kotresa-dor-kontel-nim-mateltem.html')">Post 17 kotresa dor kontel nim mateltem</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0008-post-7-detemsa-dorkon-re-tellante-tormas.html')">Post 7 detemsa dorkon re tellante tormas</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0007-post-6-masodo-ranmasdo-odotostos-resa-lemorti.html')">Post 6 masodo ranmasdo odotostos resa lemorti</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0004-post-3-sasa-tos-mas-re-telmade.html')">Post 3 sasa tos mas re telmade</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div style="position: absolute; bottom: 0; width: 100%;"><div style="align-self: flex-end;">Pages: <a href="javascript:void(0)" style="text-decoration: none;"
                  onclick="load_main('page1.html')">1&nbsp;&nbsp;</a><a href="javascript:void(0)" style="text-decoration: none;"
                  onclick="load_main('page2.html')">2&nbsp;&nbsp;</a><b>[3]</b>&nbsp;&nbsp;<a href="javascript:void(0)" style="text-decoration: none;"
                  onclick="load_main('page4.html')">4&nbsp;&nbsp;</a><br><br></div></div>
