<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0033-post-32-tilan-mamas-lanmac-massanril-mor.html')">Post 32 tilan mamas lanmac massanril mor</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0031-post-30-mormorsil-konte-tre-mac-silkonti.html')">Post 30 mormorsil konte tre mac silkonti</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0032-post-31-tre-telkon-detos-retretem-veldo.html')">Post 31 tre telkon detos retretem veldo</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0035-post-34-rilrete-mor-temtrenim-telnim-morte.html')">Post 34 rilrete mor temtrenim telnim morte</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0034-post-33-sandel-velcro-lanmac-ko-sanril.html')">Post 33 sandel velcro lanmac ko sanril</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0025-post-24-silodo-ran-rildelmac-tes-rankon.html')">Post 24 silodo ran rildelmac tes rankon</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0020-post-19-murema-koran-ma-doran-titos.html')">Post 19 murema koran ma doran titos</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0027-post-26-tede-randelmu-tos-saranmas-sil.html')">Post 26 tede randelmu tos saranmas sil</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0029-post-28-mor-remorko-lan-maslesan-delsan.html')">Post 28 mor remorko lan maslesan delsan</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div class="index-entry" style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 20px;">
  <!-- Left Side: Date (right aligned) -->
  <div style="text-align: right; font-size: 0.7em; flex-basis: 10%; padding-top: 3px;">
    <div>August 03</div>
    <div>2025</div>
  </div>
  <!-- Right Side: Title and Blurb (left aligned) -->
  <div style="font-size: 1.2em; margin-left: 10px; flex-grow: 1; padding-top: 0;">
    <div><a href="javascript:void(0)" 
            style="text-decoration: none;"
            onclick="load_main('posts/0028-post-27-telmu-demac-landelsil-odokon-letreril.html')">Post 27 telmu demac landelsil odokon letreril</a></div>
    <div style="font-size: 0.9em;">ADD BLURB HERE</div>
  </div>
</div>
<div style="position: absolute; bottom: 0; width: 100%;"><div style="align-self: flex-end;">Pages: <b>[1]</b>&nbsp;&nbsp;<a href="javascript:void(0)" style="text-decoration: none;"
                  onclick="load_main('page2.html')">2&nbsp;&nbsp;</a><a href="javascript:void(0)" style="text-decoration: none;"
                  onclick="load_main('page3.html')">3&nbsp;&nbsp;</a><a href="javascript:void(0)" style="text-decoration: none;"
                  onclick="load_main('page4.html')">4&nbsp;&nbsp;</a><br><br></div></div>
