




body { font-family: verdana }

.recent-title a {
  color: #010101;
  font-family: verdana;
  font-size: 28px;
  float: right;
  display: inline-block;
  text-align: top;
  text-decoration: none;
}

.recent-title a:hover {
  text-decoration: none;
}

.recent-title-text a {
  color: #0101a1;
  font-family: verdana;
  font-size: 22px; 
  display: block;
  text-decoration: none;
}

.recent-title-text a:hover {
  text-decoration: none;
}

.recent-date {
  color: #9a9a9a;
  font-family: verdana;
  font-size: 15px;
  display: block;
  float: left;
  text-align: top;
}

.mydrop {
  color: #444444;
  float: left;
  text-align: top;
# font-family: Verdana;
  font-size: 38px;
  line-height: 38px;
# padding-top: 0px;
  padding-right: 8px;
  padding-left: 3px;
}

.thumbnail img {
    max-height: 100%;
    max-width: 100%;
}

